.menu {
    color: white;
    background-color: navy;
    font-size: larger;
    text-align:right;
}
.menu ul{
list-style: none;
}
.menu li{display:inline-block; padding: 2px;}
.menu a{color: white; text-decoration: none;}
.menu a:hover{
    color: violet;
}
.h1 a:hover{
    color: violet;
}
div :hover{
    color: violet;
}
